/*
  If anyone is reading this then heed this message too;
  Although I'll let you alter this I'll ask one thing of you -
  As long as you have want of it, please edit this, and then:
  Click 'pull' on github, send it here and 'twill be viewed by wen
  - wen1now

  Basically what I'm saying (with that terrible rhyme) is:
  if you want to, feel free to 'upgrade' this, and
  I'll review the changes in due course - if I approve,
  the theme will be changed on the actual website as well!
  Alternatively, I'm fine with anyone who wants to create 
  their own theme - if it proves sufficiently 'good'
  (entirely dependant on my subjective opinion of goodness)
  then I'll add it as an entirely new styling option :)

  Happy styling
*/

html,body {
    background-color: #111;
    color: #aaa;
}

#changelogpopup {
    background-color: black;
}
#canceljob:active {
    color: #777;
}

/*--------------------------
logstuff*/



/*--------------------------------
Options*/



/*
#nextstory {
    width: 120px;
    font-size: 12pt;
    background-color: #a1f1c3;
    border: 2px solid black;
    border-radius: 1px;
    cursor: pointer;
}*/

textarea {
    background-color: black;
    color: #aaa;    
}

.exportbox {
    background-color: black;
    border: 2px solid #aaa;
}

.closepopup {
    background-color: white;
}
/*--------------------------------
Rightside stuff*/


/*============================================Main GAME=========================================*/

/*this is where the tab buttons are styled*/
.tabBut {
    background-color: #5ca0cc;
    color: #1b4386;
}

#tooltip {
    border: 1px solid #777;
    background-color: #333;
}
/*----------------------------------
Calendar*/

/*----------------------------------
fade ins*/

/*----------------------------------
shuttle stuff*/
#shuttleReslistTitle {
    color: #aaaaaa;
}

/*Sidebar stuff*/

#miniResTitle {
    color: #333333
}

/*-----------------------------------------*/
/*explore stuff*/

.exploreico {
    border-color: #aaa;
}

.explorebought {
    background-color: black;
}

.exploreline {
    width: 2px;
    position: absolute;
}


/* Tooltip text */
.exploretooltip {
    background-color: black;
    color: #eee;
}

.explorelocname {
    color: #abcdef;
}

.explored {
    color: #aefc9e
}

.exploretime {
    color: #ff8c8a
}

.exploreitemcostitem {
    color: #ff8c8a
}

/*----------------------------------
job stuff*/

#eatsnack:active {
    background-color: #777;
}

.jobitem {
    float: top;
    background-color: #452;
    display: inline-block;
    width: 45%;
    margin: 10px 5px;
    border: solid;
    border-radius: 8px;
    padding: 5px 5px 10px;
    cursor: pointer;
    color: #bbb;
    border-color: #555;
}

.jobitem:active {
    background-color: #341
}

.jobitemtitle {
    font-size: 20px;
    
}

.jobitemtime {

}

.jobitembox {
    background-color: #171;
    border-radius: 6px;
    border: solid;
    border-width: 1px;
    position: relative;
    width: 40%;
    float: left;
    padding: 2px;
}

.jobitemgetgrid {
    left: 0%;
}

.jobitemcostgrid {
    left: 10%;
}

.jobitemlistcaption {
    border-radius: 5px;
    background-color: #581;
    font-size: 18px;
}

.jobitemdes {
    float: left;
    clear: both;
}

/*time stuff*/
#timebar {
  width: 100px;
  height: 20px;
  position: relative;
  background-color: black;
}

#timedone {
  background-color: #283;
  width: 0px;
  height: 20px;
  position: absolute;
}

/* Tooltip text */
.restooltip {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #eeeeee;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: calc(100% + 18px);
}

/* Show the tooltip text when you mouse over the tooltip container */
.shuttleReslistName:hover .exploretooltip {
    visibility: visible;
    opacity: 1;
}

/*---------------------------------------------
Workshop */

#workshoptabbar {
    float: left;
    display: inline-block;
    width: 100%;
}

.workshoptab {
    background-color: #806533;
    float: left;
    display: inline-block;
    width: 120px;
    margin-left: 10px; /*probs style this more later*/
    margin-bottom: 2px;
    font-size: 14pt;
    border: 3px solid black;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: #113;
}

.workshoptab:active {
    background-color: #604513;
}

.workshopboughtitem {
    float: top;
    border-radius: 8px;
    background-color: #806533;
    display: inline-block;
    width: 28%;
    margin: 10px 5px;
    border: solid black;
    padding: 5px 5px 10px;
    color: #cbbba8;
    padding-left: 10px;
}

.workshopclickable:active {
    background-color: #604513;
}

.workshopclickable {
    cursor: pointer;   
}


.workshopitem {
    float: top;
    border-radius: 8px;
    background-color: #806533;
    display: inline-block;
    width: 28%;
    margin: 10px 5px;
    border: solid black;
    padding: 5px 5px 10px;
    color: #cbbba8;
    padding-left: 10px;
}

.workshopitemlistcaption {
    background-color: #8fbe42;
    border-radius: 5px;
    font-size: 18px;
    font-size: 18px;
}

.workshopitembox {
    border-radius: 5px;
    background-color: #a8de62;
    color: #405533;
    padding-left: 10px;
    padding: 2px;
    border: solid black 1px;
}

.workshopitemdes {
    float: left;
    clear: both;
}

.workshopitemtitle {
    font-size: 20px;
}

/*--------------------------Buildings--------------------*/

.buildingcontainer {
    float: top;
    display: inline-block;
    margin: 10px 5px;
    position: relative;
    width: 30%;
    height: ;
}

.buildingitem {
    width: 90%;
    float: left;
    position: relative;
    border-radius: 8px;
    background-color: #333;
    border: solid black;
    padding: 5px 5px 10px;
    cursor: pointer;
    padding-left: 10px;
}

.buildingitem:active {
    background-color: #8a8a79;
}

.buildingitemlistcaption {
    background-color: #777766;
    border-radius: 5px;
    font-size: 18px;
}

.buildingitembox {
    position: relative;
    border-radius: 5px;
    background-color: #888877;
    color: #cccc99;
    padding: 2px;
    border: solid black 1px;
}

.buildingshopitemdes {
    float: left;
    clear: both;
}

.buildingitemtitle {
    font-size: 20px;
}

.convertbuttons {
    position: absolute;
    right: 5px;
    top: 10px;
    opacity: 0.2;
}

.convertbuttons:hover {
    opacity: 1;
}



